*{
    margin: 0;
}
body{
    font-family: sans-serif;
}

.navigation_bar{
    width: 100%;
    height: 60px;
}

.navigation_container{
    width: 80%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.navigation_collection{
    display: flex;
    align-items: center;
}
.collection_item{
    list-style-type: none;
    padding: 0px 24px;
    font-family: sans-serif;
}

.collection_item select{
    border: none;
    font-size: 16px;
}

.navigation_button{
    width: 53px;
    height: 22px;
    color: #3D455C;
    background-color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 22px;
}

.navigation_button1{
    width: 169px;
    height: 40px;
    background: #21264F;
    border-radius: 32px;
    color: #fff;
}
.div_data{
height: 713px;
width: 1168px;
left: 136px;
top: 0px;
border-radius: 0px;
/* background-color: #3D455C; */
margin: auto;
}
.image{
    height: 700px;
    margin-left: 450px;
}
.div_itemin{
    
}
.title{
    color: #21264F;
    font-size: 50px;
    width: 300px;
}
.div_des{
    color: #3D455C;
    width: 350px;
    font-size: 20px;
    padding-top: 300px;
}